body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.box {
    width:400px;
    height: 400px;
    background: lightgray;
    margin: 15px;
    /* border-radius: 7px; */
    border-radius: 3px;
    /* box-shadow: 0 0 5px #00000080; */
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    cursor: pointer;
    position: relative;
}

.tag-area {
    background: white;
    width: 100%;
    height: 50px;
    bottom: 0px;
    border-radius: 0px 0px 5px 5px;
    align-items: center;
    position: absolute;
    justify-content: flex-end;
    display: flex;
}

#box-container {
    flex-wrap: wrap;
    display: inline-flex;
    width: 80%;
    justify-content: center;
}

#box1 {
    background-image: url("square.jpg");
    background-position: center;
    background-size: cover;
}

.tag {
    /* background: lightblue; */
    /* height: 20px; */
    font-size: 30px;
    padding: 5px;
    display: inline-block;
    margin-right: 10px;
    transition: .25s;
}

.tag:hover {
    color: #7bb550;
}

hr {
    width: 80%;
}
